<!-- The page must list the name of the player,
  as well as the amount of “points” that was scored by the player. 
  The list must be sortable by the score. At the end of the list, 
  there should be a way for a user to input more scores into the 
  list. -->
<!DOCTYPE html>
<html>
  <head>
      <title>Scoreboard Application</title>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <script src="vue.js"></script>
  </head>

  <!-- Program composition -->
  <body>

    <div id="app">
      <table>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
        <player-score 
          v-for="player in players" 
          v-bind:player="player" 
          v-bind:key="player.name"
        ></player-score>
        <!-- <template v-for="player in players">
          <tr>
            <td>{{player.name}}</td>
            <td>{{player.score}}</td>
            <td><button v-on:click="incrementScore()">[+]</button></td>
          </tr>
        </template>-->
      </table>

      <label for="name">Name:</label>
      <input type="text" name="name" v-model="player.name">
      <label for="score">Score:</label>
      <input type="text" name="score" v-model="player.score">
      <button v-on:click="addPlayer()">Done</button>
      <button v-on:click="sortByScore()">Sort by score</button>
    </div>

  </body>

  <!-- Program logic -->
  <script>

    Vue.component('player-score', {
      props: ['player'],
      template: `
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.score }}</td>
          <td><button v-on:click="function() { 
            var x = parseInt(player.score);
            x += 1;
            player.score = x;}">[+]</button></td>
        </tr>
      `
    })

    var vm = new Vue({
      el: '#app',
      data: {
        player: {},
        players: [ 
          { name: 'Koivu', score: '1' },
          { name: 'Mats',  score: '2' }
        ]
      },

      methods: {

        /**
         * Adds a new player. No assumptions.
         */
        addPlayer: function() {
          console.log("addPlayer");
          vm.players.push(vm.player);
          vm.player = {};
        },

        /**
         * Descending order sort. Assumes score can be parsed into integer.
         */
        sortByScore: function() {
          console.log("sortByScore");
          vm.players.sort(function(a, b) {
            return parseInt(b.score) - parseInt(a.score);
          })
        },

        /*
         * TODO make <player-score> use this for clarity.
         * Increments score of the player on the same table row by 1. 
         */
        incrementScore: function() {
          console.log("incrementScore");
          var x = parseInt(player.score);
          x += 1;
          player.score = x;
        }
      }
    })



  </script>

</html>