* {
    font-size: 1.03rem;
}

body {
    padding: 22px;
    background-color: beige;
}

#app {
    padding: 20px 40px;
}

h1 {
    color: darkslategray;
    padding: 10px 0p;
    text-align: left;
    font-size: 2.4rem;
}

button {
    background-color: honeydew;
    border-radius: 20%;
}

button:hover {
    background-color: azure;
    cursor: pointer;
}

table {
    width: 80%;
    border-spacing: 1px;
    max-width: 640px;
}

th {
    border-bottom: 2px solid darkslategray;
    margin: 0;
}

td {
    border-bottom: 1px solid darkslategray;
    margin: 0;
}

td:nth-child(2) {
    text-align: right;
}

td:nth-child(3) {
    border-bottom: none;
}

.controls {
    padding: 10px 0 0 0;
}

.controls h3 {
    color: darkslategray;
    text-align: left;
    padding: 5px 0;
    margin: 0;
    font-size: 1.4rem;
}

.controls button {
    margin: 5px 0 0 0;
    padding: 10px;
}

.input-bundle {
    margin: 0 0 5px 0;
}

.input-bundle input {
    background-color: cornsilk;
}

.input-bundle label {
    display: inline-block;
    width: 50px;
}
